@model IEnumerable<TblSlider>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="row g-4" style="height:100px">
    <div class="col-sm-12">
        <div class="bg-secondary rounded h-100 p-4">
            <div class="d-flex justify-content-between mt-2 mb-2">
                <h4>Slider List</h4>
                <div>
                    <a asp-action="SliderCreate" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />


<div class="row g-4">
    <div class="col-12">
        <div class="bg-secondary rounded h-100 p-4">
            <div class="table-responsive">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Image</th>
                            <th>
                                Title
                            </th>
                            <th>
                                SubTitle
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Select((x, i) => new { Data = x, Index = i + 1 }))
                        {
                            <tr>
                                <td>
                                    @item.Index
                                </td>
                                <td>
                                    @if (item.Data.sliderImage != null)
                                    {
                                        <img src="~/@item.Data.sliderImage" alt="Alternate Text" height="40px" width="40px" />
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Data.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Data.SubTitle)
                                </td>
                                <td>
                                    <a asp-action="SliderEdit" asp-route-id="@item.Data.SId" class="btn "><i class="fa fa-edit"></i></a> |
                                    <a asp-action="Sliderdelete" asp-route-id="@item.Data.SId" class="btn  " onclick="return confirm('Are sure wants to delete?');"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

