@using Microsoft.AspNetCore.Identity
@using CMS.Models;
@inject UserManager<ApplicationUser> userManager;
@inject SignInManager<ApplicationUser> SignInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <title>DarkPan - Bootstrap 5 Admin Template</title>
    <!-- Favicon -->
    <link href="~/Template/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Template/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Template/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Template/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/Template/css/style.css" rel="stylesheet">

    <!-- Toater -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

</head>
<body>


    <div class="container-fluid position-relative d-flex p-0">

        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                @*__________________ Logo ___________*@
                <a asp-area="Admin" asp-controller="dashboard" asp-action="Index" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>CMS</h3>
                </a>

                @*____________________ Header _____________________*@
                <div class="d-flex align-items-center ms-4 mb-4">
                    @if (SignInManager.IsSignedIn(User)) //(false)
                    {
                        <div class="position-relative">
                            @{
                                var user = await userManager.GetUserAsync(User);
                                var profilePicture = "";
                                if (user.ProfileImage != null && user.ProfileImage != "")
                                {
                                    profilePicture = user.ProfileImage;
                                }
                                else
                                {
                                    profilePicture = "/Template/img/placeholder.png";
                                }

                                <img class="rounded-circle" src="~/@profilePicture" alt="" style="width: 40px; height: 40px;">
                                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                            }
                        </div>
                        <div class="ms-3">

                            <h6 class="mb-0">@user.Name</h6>
                            <span>Admin</span>
                        </div>
                    }
                </div>

                @*____________________ Side_Menu _____________________*@
                <div class="navbar-nav w-100">
                    @*____________________ dashboard _____________________*@
                    <a asp-action="Index" asp-controller="dashboard" asp-area="Admin" class="nav-item nav-link @Html.ActiveClass("dashboard", "Index")"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>

                    @*____________________ Category _____________________*@
                    <div class="nav-item dropdown">
                        @{
                            var categoryCont = ViewContext.RouteData.Values["controller"].ToString();
                            var categoryActive = "";
                            if (categoryCont == "Departement" || categoryCont == "Facilites" || categoryCont == "Course" || categoryCont == "Years" || categoryCont == "SubjectSS" || categoryCont == "SpecializeSubject" || categoryCont == "OptionalSubject")
                            {
                                categoryActive = "active";
                            }

                            <a href="#" class="nav-link dropdown-toggle @(categoryActive)" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Categories</a>
                            <div class="dropdown-menu bg-transparent border-0">
                                <a asp-action="Index" asp-controller="Departement" asp-area="Admin" class="dropdown-item @Html.ActiveClass("Departement", "Index")">Departement</a>
                                <a asp-action="Index" asp-controller="Facilites" asp-area="Admin" class="dropdown-item @Html.ActiveClass("Facilites", "Index")">Facilities</a>
                                <a asp-action="Index" asp-controller="Course" asp-area="Admin" class="dropdown-item @Html.ActiveClass("Course", "Index")">Courses</a>
                                <a asp-action="Index" asp-controller="Years" asp-area="Admin" class="dropdown-item @Html.ActiveClass("Years", "Index")">College_Years</a>
                                <a asp-action="Index" asp-controller="SubjectSS" asp-area="Admin" class="dropdown-item @Html.ActiveClass("SubjectSS", "Index")">Subject SS</a>
                                <a asp-action="Index" asp-controller="SpecializeSubject" asp-area="Admin" class="dropdown-item @Html.ActiveClass("SpecializeSubject", "Index")">Add Specialize</a>
                                <a asp-action="Index" asp-controller="OptionalSubject" asp-area="Admin" class="dropdown-item @Html.ActiveClass("OptionalSubject", "Index")">Add Optional</a>
                            </div>

                        }
                    </div>

                    @*____________________ Student Registration _____________________*@
                    <div class="nav-item dropdown">
                        @{
                            var stRegistorCont = ViewContext.RouteData.Values["controller"].ToString();
                            var registorActive = "";
                            if (stRegistorCont == "StatusofStudent" || stRegistorCont == "Students" || stRegistorCont == "Teacher" || stRegistorCont == "StudentPreviouseExame" || stRegistorCont == "Enrolment")
                            {
                                registorActive = "active";
                            }

                            <a href="#" class="nav-link dropdown-toggle @(registorActive)" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Students</a>
                            <div class="dropdown-menu bg-transparent border-0">
                                <a asp-action="Index" asp-controller="StatusofStudent" class="dropdown-item @Html.ActiveClass("StatusofStudent", "Index")">Add Status</a>
                                <a asp-action="Index" asp-controller="Students" class="dropdown-item @Html.ActiveClass("Students", "Index")">Students</a>
                                <a asp-action="Index" asp-controller="StudentPreviouseExame" class="dropdown-item @Html.ActiveClass("StudentPreviouseExame", "Index")">PrevExDetail</a>
                                <a asp-action="Index" asp-controller="Enrolment" class="dropdown-item @Html.ActiveClass("Teacher", "Index")">Enrolments</a>
                                <a asp-action="Index" asp-controller="Teacher" class="dropdown-item @Html.ActiveClass("Teacher", "Index")">Teachers</a>
                            </div>
                        }
                    </div>

                    @*____________________ Accounts _____________________*@
                    <div class="nav-item dropdown">
                        @{
                            var acountCont = ViewContext.RouteData.Values["controller"].ToString();
                            var accountActive = "";
                            if (acountCont == "User" || acountCont == "Role")
                            {
                                accountActive = "active";
                            }
                            <a href="#" class="nav-link dropdown-toggle @(accountActive )" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Accounts</a>
                            <div class="dropdown-menu bg-transparent border-0">
                                <a asp-action="Index" asp-controller="User" class="dropdown-item @Html.ActiveClass("User", "Index")">Users</a>
                                <a asp-action="Index" asp-controller="Role" class="dropdown-item @Html.ActiveClass("Role", "Index")">Roles</a>
                                <a asp-action="Assign" asp-controller="Role" class="dropdown-item @Html.ActiveClass("Roles", "Assign")">Manage Roles</a>
                            </div>
                        }
                    </div>

                    @*____________________ Settings _____________________*@
                    <div class="nav-item dropdown">
                        @{
                            var settingsCont = ViewContext.RouteData.Values["controller"].ToString();
                            var settingsActive = "";
                            if (settingsCont == "Settings")
                            {
                                settingsActive = "active";
                            }

                            <a href="#" class="nav-link dropdown-toggle @(settingsActive)" data-bs-toggle="dropdown"><i class="fa fa-th me-2"></i>Settings</a>
                            <div class="dropdown-menu bg-transparent border-0">
                                <a asp-action="Slider" asp-controller="Settings" class="dropdown-item @Html.ActiveClass("Settings", "Slider")">Slider</a>
                                <a asp-action="Theme" asp-controller="Settings" class="dropdown-item @Html.ActiveClass("Settings", "Index")">Themes</a>
                                <a asp-action="Assign" asp-controller="Settings" class="dropdown-item @Html.ActiveClass("Settings", "Assign")"></a>
                            </div>
                        }
                    </div>


                    @*<a href="widget.html" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Widgets</a>
                        <a href="form.html" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Forms</a>
                        <a href="table.html" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Tables</a>
                        <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Charts</a>*@

                    @*____________________ Pages _____________________*@
                    @*<div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>
                            <div class="dropdown-menu bg-transparent border-0">
                                <a href="signin.html" class="dropdown-item">Sign In</a>
                                <a href="signup.html" class="dropdown-item">Sign Up</a>
                                <a href="404.html" class="dropdown-item">404 Error</a>
                                <a href="blank.html" class="dropdown-item">Blank Page</a>
                            </div>
                        </div>*@
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <div class="content">

            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                </a>

                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>

                <form class="d-none d-md-flex ms-4">
                    <input class="form-control bg-dark border-0" type="search" placeholder="Search">
                </form>

                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-envelope me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Message</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="~/Template/img/user~/Template/.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="~/Template/img/user~/Template/.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="~/Template/img/user~/Template/.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all message</a>
                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Notificatin</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Profile updated</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">New user added</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Password changed</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all notifications</a>
                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            @if (SignInManager.IsSignedIn(User)) //(false)
                            {
                                var user = await userManager.GetUserAsync(User);
                                var profilePicture = "";
                                if (user.ProfileImage != null && user.ProfileImage != "")
                                {
                                    profilePicture = user.ProfileImage;
                                }
                                else
                                {
                                    profilePicture = "/Template/img/placeholder.png";
                                }
                                <img class="rounded-circle me-lg-2" src="~/@profilePicture" alt="" style="width: 40px; height: 40px;">
                                <span class="d-none d-lg-inline-flex">@user.Name</span>
                            }
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="dropdown-item">Goto Front</a>
                            <a asp-area="Security" asp-controller="Account" asp-action="Logout" class="dropdown-item">LogOut</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->


            <div class="container-fluid pt-4 px-4">
                @RenderBody()
            </div>

            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">Your Site Name</a>, All Right Reserved.
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                            <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>

        <!-- Content End -->
        <!-- Back to Top -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>



    </div>




    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Template/lib/chart/chart.min.js"></script>
    <script src="~/Template/lib/easing/easing.min.js"></script>
    <script src="~/Template/lib/waypoints/waypoints.min.js"></script>
    <script src="~/Template/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Template/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/Template/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/Template/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Template Javascript -->
    <script src="~/Template/js/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
