@model IEnumerable<CMS.Models.ApplicationUser>

<p>
    <a asp-action="Create">Create New</a>
</p>



<div class="row g-4" style="height:100px">
    <div class="col-sm-12">
        <div class="bg-secondary rounded h-100 p-4">
            <div class="d-flex justify-content-between mt-2 mb-2">
                <h4>Users</h4>
                <div>
                    <a asp-action="Create" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />

<div class="row g-4">
    <div class="col-12">
        <div class="bg-secondary rounded h-100 p-4">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Picture
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Email/UserName
                            </th>
                            <th>
                                Country
                            </th>
                            <th>
                                Password
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <img src="~/@item.ProfileImage" style="width:30px" height="30px" class="rounded-circle" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Country)
                                </td>
                                <td style="max-width:80px;overflow:hidden">
                                    @Html.DisplayFor(modelItem => item.PasswordHash)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-name="@item.UserName" class="btn "><i class="fa fa-edit"></i></a> |
                                    <a asp-action="delete" asp-route-id="@item.Id" class="btn  " onclick="return confirm('Are sure wants to delete?');"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

