@model vmEnrolmentList

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="row g-4" style="height:100px">
    <div class="col-sm-12">
        <div class="bg-secondary rounded h-100 p-4">
            <div class="d-flex justify-content-center mt-2 mb-2">
                <h4>Student Enrollments</h4>
            </div>
        </div>
    </div>
</div>

<br />
<br />

<div class="row g-4">
    <div class="col-12">
        <div class="bg-secondary rounded h-100 p-4">
            <div class="table-responsive">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>
                                Student
                            </th>
                            <th>
                                CourseName
                            </th>
                            <th>
                                Specializ Subject
                            </th>
                            <th>
                                Optional Subject
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.enrolment_list.ToList().Select((x, i) => new { Data = x, Index = i + 1 }))
                        {
                            <tr scope="row">
                                <td>
                                    @item.Index
                                </td>
                                <td>
                                    @item.Data.Stu.StuName
                                </td>
                                <td>
                                    <p>@item.Data.Specializesubject.tblSubjects.First().Course.Course</p>
                                </td>
                                <td>
                                    @foreach (var item1 in Model.subject_sepecaliz_list.Where(x => x.SS_id == item.Data.SpecializesubjectId).ToList())
                                    {
                                        <span>@item1.Subject &nbsp;</span>
                                    }
                                </td>
                                <td>
                                    @foreach (var item2 in Model.subject_optional_list.Where(x => x.YId == item.Data.Specializesubject.tblSubjects.First().YId).ToList())
                                    {
                                        <span>@item2.OptinalSubject</span>
                                    }
                                </td>

                                @*<td>*@
                            </tr>
                        }
                    </tbody>
                </table>

                
            </div>
        </div>
    </div>
</div>

@section scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}