@model IEnumerable<TblFaculties>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
            @Html.DisplayNameFor(model => model.FId)
        </th>*@
            <th>
                Name
            </th>
            <th>
                Date of Birth
            </th>
            <th>
                Age
            </th>
            <th>
                Departement
            </th>
            <th>
                Image
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FId">Details</a> |
                <a asp-action="delete" asp-route-id="@item.FId" onclick="return confirm('Are sure wants to delete?');">Delete</a>
            </td>            @*<td>
            @Html.DisplayFor(modelItem => item.FId)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateofBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgebyDob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dep.Departement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacImage)
            </td>
        </tr>
}
    </tbody>
</table>
